/* Desktop Design */
form[data-role="tocart-form"] {
    display: flex;
    justify-content: center;
}

.continue-shopping-btn {
    background-color: #00284b;
    color: #fff;
    width: 100%;
}

.cart-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: fit-content;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.cart-popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 20px;
    height: 20px;
    border: none;
    background: #ff4444;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
    line-height: 1;
}

.hide-cart {
    display: none;
}

.atb-notification .hidden.justify-between.py-3.text-xs {
    display: none !important;
}

.atb-notification .cart-item .grid {
    grid-template-columns: 48px auto !important;
}


.atb-notification .payment-options {
    margin-top: 0 !important;
}

.atb-notification .flex.justify-end.items-stretch {
    display: none;
}

.atb-notification .price-box.medium.text-right.leading-6.whitespace-nowrap .current-price {
    display: none;
}

.atb-notification .cart-item .grid .mt-auto.pt-3 {
    display: none;
}

.atb-notification .cart-item .grid .rating-block {
    display: none;
}

.accessories-item .atb-notification .cart-item {
    display: flex !important;
}

.accessories-item .atb-notification .flex.flex-col.space-y-3.items-end {
    display: flex !important;
}

.saving-price {
    background: #2969c7 !important;
    color: #fff !important;
    display: inline-block !important;
    font-weight: 700 !important;
    padding: 0 10px !important;
    border-radius: 0.2rem !important;
    text-transform: uppercase !important;
}

.current-price {
	font-size: 1.5rem !important;
}

.txt-right-container {
	display: none;
}

.accessories-item .atb-notification .cart-item .medium .saving-price, .accessories-item .atb-notification .cart-item .medium .current-price {
    font-size: 0.75rem;
}

.accessories-item .atb-notification .cart-item .medium .old-price {
    font-size: 0.625rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.atb-notification {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    will-change: transform;
}

.atb-notification.translate-x-full {
    transform: translateX(100%);
}

.atb-notification.translate-x-0 {
    transform: translateX(0);
}

/* overlay */
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999;
    pointer-events: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show overlay */
.page-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Ensure header stays above overlay */
.overlay-active header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
}

.overlay-active nav {
    position: relative;
    z-index: 1001;
}

/* Optional: Prevent body scrolling when overlay is active */
body.overlay-active {
    overflow: hidden;
}

/* Optional: Different overlay colors/styles */
.page-overlay.dark {
    background-color: rgba(0, 0, 0, 0.7);
}

.page-overlay.light {
    background-color: rgba(255, 255, 255, 0.8);
}

.page-overlay.blue {
    background-color: rgba(0, 123, 255, 0.5);
}

/* Optional: Blur effect for content behind overlay */
.page-overlay.blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* ATB annimation */

.atb-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
    min-width: 140px;
    justify-content: center;
}

/* PLP custom ATB button */

#layer-product-list .atb-button {
    min-width: unset;
}

#layer-product-list .add-to-basket.atb-button.loading[disabled] {
    background-color: #ff671f !important;
    color: #fff !important;
}

#layer-product-list .add-to-basket.atb-button {
    background-color: #ff671f !important;
    color: #fff !important;
}

#layer-product-list .add-to-basket.loading .button-text {
    display: none !important;
}

.atb-button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: translateY(-1px);
}

.atb-button:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}

.atb-button.loading .spinner {
    display: block;
}

@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

.button-text {
    transition: all 0.2s ease;
}

.product-hero-block button.add-to-basket.atb-button:disabled {
    opacity: unset !important;
    background-color: #ff671f !important;
    color: #fff !important;
}

.atb-button.atb-button:hover:not(:disabled) {
    background-color: #ff671f !important;
}

button.add-to-basket.atb-button:disabled:hover {
    background-color: #ff671f !important;
    color: #fff !important;
    opacity: unset !important;
}

.atb-notification .btn-group .go-to-basket {
	background-color: #ff671f !important;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.cursor-wait {
    cursor: wait !important;
}

button:disabled {
    cursor: wait !important;
}


/*********** ADD ON CONTAINER STYLES *********/
.atb-notification .add-on-container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    background: var(--Brand-Primary-Neutrals-Off-White---Highlight, #f9f8f8);
}

.atb-notification .add-on-cont-title {
    text-transform: uppercase;
    color: #000f21;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.72px;
}

.atb-notification .add-on-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.atb-notification .add-on-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: white;
    padding: 8px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.atb-notification .add-on-item:hover {
    background: #f5f5f5;
}

.atb-notification .add-on-item img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 83px;
    height: 83px;
    object-fit: contain;
}

.atb-notification .add-on-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.atb-notification .add-on-item-title {
    color: var(--Brand-Midnight, #00284b);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}

.atb-notification .add-on-rating {
    display: flex;
    align-items: center;
}

.add-on-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 4px;
    align-items: center;
}

.add-on-saving-price {
    color: white;
    font-weight: 700;
    border-radius: 1.5px;
    background: var(--Brand-Secondary-Promo-Blue, #1967d2);
    text-transform: uppercase;
    display: flex !important;
    padding: 2px 4px;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-style: normal;
    line-height: 100%;
    margin-top: 1px;
}

.atb-notification .add-on-add-to-cart-btn {
    background-color: #ff671f;
    color: #fff;
    align-items: center;
    border-radius: 0.25rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin-top: auto;
    padding: 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
    width: 2.5rem;
    flex-shrink: 0;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.atb-notification .add-on-add-to-cart-btn:hover {
    background-color: #e55a1a;
    transform: scale(1.05);
}

.atb-notification .add-on-add-to-cart-btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

/* Keep add-on buttons small during loading */
.add-on-add-to-cart-btn.atb-button {
    min-width: 2.5rem !important;
    width: 2.5rem !important;
    gap: unset !important;
}

.atb-notification .stars {
    color: #ff671f;
}

/* Ensure the add-on container in the bottom section scrolls properly */
.atb-notification .bottom-content > div:first-child {
    overflow-y: auto;
}

/* Mobile Design */
@media (max-width: 767px) {
	.continue-shopping-btn {
	height: 40px;
	}

	.atb-notification .total-price span {
	display: none;
	}
	
	
	form[data-role="tocart-form"] {
	display: flex;
	justify-content: center;
	}
	
	.continue-shopping-btn {
	background-color: #f2f2f2;
	border-color: #c5c5c5;
	border-radius: 0.25rem;
	border-width: 1px;
	color: #413f3f;
	width: 100%;
	margin-top: 0.7rem;
	height: 48px;
	}

	.atb-notification .go-to-checkout {
	display: flex;
	align-items: center;
	justify-content: center;
	}
	
	.atb-notification .payment-options {
	display: none !important;
	}
	
	.cart-popup {
	position: fixed;
	top: 0;
	right: 0;
	width: fit-content;
	background: white;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	}
	
	.cart-popup-close {
	position: absolute;
	top: 5px;
	right: 8px;
	width: 20px;
	height: 20px;
	border: none;
	background: #ff4444;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10000;
	line-height: 1;
	}
	
  .atb-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 999999;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  
  top: auto !important;
  height: auto !important;
  max-height: 90vh;
  overflow-y: auto;
  }
	
	.atb-notification.show {
	transform: translateY(0);
	}
	
	/* title */
	#atb-notification-title h3 {
	text-transform: uppercase;
	color: #000f21;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%;
	letter-spacing: -0.72px;
	}
	
	/********** prod items just added  *************/
	.atb-notification .product-image-container {
	background: #f2f2f2;
	width: 64px !important;
	height: 64px !important;
	}
	
	.atb-notification .product-item-link {
	color: var(--Brand-Primary-Neutrals-Carbon-Black, #000f21);
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.36px;
	text-transform: uppercase;
	}
	
	.atb-notification .saving-price {
	color: white;
	font-weight: 700;
	border-radius: 1.5px;
	background: var(--Brand-Secondary-Promo-Blue, #1967d2);
	text-transform: uppercase;
	display: flex !important;
	padding: 2px 4px;
	align-items: center;
	gap: 5px;
	font-size: 13px;
	font-style: normal;
	line-height: 100%;
	justify-content: center;
	width: fit-content;
	margin-left: auto;
	}
	
	.atb-notification .cart-item .current-price {
	color: #00284b;
	display: inline-block;
	line-height: 120%;
	font-size: 17px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: -0.48px;
	margin-left: auto;
	}
	
	.atb-notification .cart-item .old-price {
	font-size: 14px;
	}
	
	/* total price */
	.atb-notification .total-price {
	justify-content: end;
	padding: 24px 0 12px 0;
	color: var(--Checkout-Brown-Text-Default, #272626);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	gap: 5px;
	}
	
	.atb-notification .payment-options {
	padding-top: 12px;
	}
	
	.atb-notification .hidden.justify-between.py-3.text-xs {
	display: none !important;
	}
	
	.atb-notification .cart-item .grid {
	grid-template-columns: 64px auto !important;
	}
	
	.atb-notification .payment-options {
	margin-top: 0 !important;
	}
	
	.atb-notification .flex.justify-end.items-stretch {
	display: none;
	}
	
	.atb-notification .price-box.medium.text-right.leading-6.whitespace-nowrap .current-price {
	display: none;
	}
	
	.atb-notification .cart-item .grid .mt-auto.pt-3 {
	display: none;
	}
	
	.atb-notification .cart-item .grid .rating-block {
	display: none;
	}
	
	.accessories-item .atb-notification .cart-item {
	display: flex !important;
	}
	
	.accessories-item .atb-notification .flex.flex-col.space-y-3.items-end {
	display: flex !important;
	}
	
	.accessories-item .atb-notification .cart-item .medium .saving-price,
	.accessories-item .atb-notification .cart-item .medium .current-price {
	font-size: 0.75rem;
	}
	
	.accessories-item .atb-notification .cart-item .medium .old-price {
	font-size: 0.625rem;
	display: flex;
	flex-wrap: nowrap;
	gap: 5px;
	}
	
	/* overlay */
	
	.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
	z-index: 999;
	pointer-events: auto;
	opacity: 0;
	visibility: hidden;
	transition:
	opacity 0.3s ease,
	visibility 0.3s ease;
	}
	
	/* Show overlay */
	.page-overlay.active {
	opacity: 1;
	visibility: visible;
	z-index: 99999;
	}
	
	.overlay-active nav {
	position: relative;
	z-index: 1001;
	}
	
	/* Optional: Prevent body scrolling when overlay is active */
	body.overlay-active {
	overflow: hidden;
	}
	
	/* Optional: Different overlay colors/styles */
	.page-overlay.dark {
	background-color: rgba(0, 0, 0, 0.7);
	}
	
	.page-overlay.light {
	background-color: rgba(255, 255, 255, 0.8);
	}
	
	.page-overlay.blue {
	background-color: rgba(0, 123, 255, 0.5);
	}
	
	/* Optional: Blur effect for content behind overlay */
	.page-overlay.blur::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	}
	
	/* ATB annimation */
	
	.atb-button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	transition: all 0.2s ease;
	min-width: 140px;
	justify-content: center;
	}
	
	/* Keep add-on buttons small during loading */
	.add-on-add-to-cart-btn.atb-button {
	min-width: 2.5rem !important;
	width: 2.5rem !important;
	gap: unset !important;
	}
	
	/* PLP custom ATB button */
	
	#layer-product-list .atb-button {
	min-width: unset;
	}
	
	#layer-product-list .add-to-basket.atb-button.loading[disabled] {
	background-color: #ff671f !important;
	color: #fff !important;
	}
	
	#layer-product-list .add-to-basket.atb-button {
	background-color: #ff671f !important;
	color: #fff !important;
	}
	
	#layer-product-list .add-to-basket.loading .button-text {
	display: none !important;
	}
	
	.atb-button:hover:not(:disabled) {
	background-color: #0056b3;
	transform: translateY(-1px);
	}
	
	.atb-button:disabled {
	cursor: not-allowed;
	opacity: 0.8;
	}
	
	.spinner {
	width: 16px;
	height: 16px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-top: 2px solid white;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	display: none;
	}
	
	.atb-button.loading .spinner {
	display: block;
	}
	
	@keyframes spin {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
	}
	
	@keyframes fadeIn {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
	}
	
	.button-text {
	transition: all 0.2s ease;
	}
	
	.product-hero-block button.add-to-basket.atb-button:disabled {
	opacity: unset !important;
	background-color: #ff671f !important;
	color: #fff !important;
	}
	
	.atb-button.atb-button:hover:not(:disabled) {
	background-color: #ff671f !important;
	}
	
	button.add-to-basket.atb-button:disabled:hover {
	background-color: #ff671f !important;
	color: #fff !important;
	opacity: unset !important;
	}
	
	/*********** ADD ON CONTAINER *********/
	.atb-notification .add-on-container {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
	background: var(--Brand-Primary-Neutrals-Off-White---Highlight, #f9f8f8);
	margin-left: -24px;
	margin-right: -24px;
	}
	
	.atb-notification .add-on-cont-title {
	text-transform: uppercase;
	color: #000f21;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 120%;
	letter-spacing: -0.72px;
	}
	
	.atb-notification .add-on-items {
	display: flex;
	flex-direction: column;
	gap: 12px;
	}
	
	.atb-notification .add-on-item {
	display: flex;
	flex-direction: row;
	gap: 10px;
	background: white;
	padding: 8px;
	}
	
	.atb-notification .add-on-item img {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	width: 83px;
	height: 83px;
	}
	
	.atb-notification .add-on-item-title {
	color: var(--Brand-Midnight, #00284b);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	}
	
	.add-on-price {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
	gap: 4px;
	align-items: center;
	}
	
	.add-on-saving-price {
	color: white;
	font-weight: 700;
	border-radius: 1.5px;
	background: var(--Brand-Secondary-Promo-Blue, #1967d2);
	text-transform: uppercase;
	display: flex !important;
	padding: 2px 4px;
	align-items: center;
	gap: 5px;
	font-size: 12px;
	font-style: normal;
	line-height: 100%;
	margin-top: 1px;
	}
	
	.atb-notification .add-on-add-to-cart-btn {
	background-color: #ff671f;
	color: #fff;
	align-items: center;
	border-radius: 0.25rem;
	display: flex;
	height: 2.5rem;
	justify-content: center;
	margin-top: auto;
	padding: 0;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.4, 1);
	width: 2.5rem;
	flex-shrink: 0;
	margin-left: auto;
	}
	
	.atb-notification .stars {
	color: #ff671f;
	}
	
	.atb-notification .btn-group .action {
	padding: 0.75rem 0.25rem !important;
	}
}
